#root {
  padding: 2rem;
  text-align: center;
  background-color: #000;
}

.main-container {
  min-height: 100vh;
  min-width: 100%;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #333;
}

.filter-text {
  font-size: 1.4em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  gap: 1em;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(206, 30, 30, 1);
  text-transform: capitalize;
  text-align: left; 
  background-color: #ccc;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #fff;
  transform: scale(1.05);
}

picture {
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: 0.5em 1em;
  margin: 1em;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}

.grass {
  background-color: #4CAF50;
}

.fire {
  background-color: #F44336;
}

.water {
  background-color: #2196F3;
}

.grass:hover {
  background-color: #78d57b;
}

.fire:hover {
  background-color: #d86159;
}

.water:hover {
  background-color: #60abe8;
}

.all {
  background-color: #fff;
  color: #000;
}

.all:hover {
  background-color: #ccc;
}

@media (max-width: 768px) {
  

  .card {
    width: 100%;
  }

  .nav {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  button {
    font-size: 0.9em;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .nav {
    margin: 12px;
    padding: 0.5em;
  }
  button {
    font-size: 0.8em;
  }
  .card {
    width: 100%;
  }
}